<div class="text-center center-block">
    <div class="full-area">
        <div class="page-1"
            ng-if="isOnStartPage == true">
            <img class="img-landing" src="/app/img/landing.svg" alt="">
            <button type="button"
                    class="start-button"
                    ng-disabled="isStartPage"
                    ng-click="startApp()">Default</button>
        </div>
        <div class="page-2"
             ng-if="isOnPage2 == true">
            <h1>Hello World 2!</h1>
            <p>{{twitterMessage}}</p>

            <p>isStartPage = {{isStartPage}}</p>
            <p>isOnPage2 = {{isOnPage2}}</p>

            <button type="button"
                    class="post-button btn btn-success"
                    ng-disabled="isPosted"
                    ng-click="post()">Post</button>
        </div>

        <div class="page-3"
             ng-if="isOnPage3 == true">
            <div class="navbar">
                <div class="nav-left">
                    <img src="/app/img/logo.svg" alt="logo">
                </div>
                <div class="nav-right">
                    <img src="/app/img/btn_new.svg" alt="btn_new">
                </div>
            </div>
             <img class="img-3-top" src="/app/img/page_3_top.svg" alt="">
            
            <div class="previous">
                <div class="title">
                   <img src="/app/img/title_previous.svg" alt=""> 
                </div>
                <div class="carousel">
                    <img src="/app/img/carousel.svg" alt="">
                </div>
            </div>
            
            <div class="best-performing">
                <div class="performing-title">
                    <img src="/app/img/performing_title.svg" alt="">
                </div>
                <div class="performing-items">
                    <img src="/app/img/performing_items.svg" alt="">
                </div>
            </div>


            <button type="button"
                    class="start-button btn btn-success"
                    ng-disabled="isStartPage"
                    ng-click="startApp()">Post</button>
        </div>
    </div>
</div>
