.wrapper {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  width: 1160px;
  padding: 20px;
  margin: 0 auto;
}
.avatar {
  float: left;
  margin-top: 3px;
  margin-left: -58px;
  width: 48px;
  height: 48px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.tweet {
  border: 1px solid #e1e8ed;
  position: relative;
}
min-height 51px,
padding 9px 12px,
.content,
margin-left 58px,
display block {
  width: 590px;
}
h1 {
  font-family: 'Open Sans';
  font-weight: 600;
  line-height: 1.618em;
  font-size: 2em;
  letter-spacing: 1.2em;
}
h2 {
  font-family: 'Open Sans';
  font-weight: 600;
  line-height: 1.618em;
  font-size: 1.5em;
}
.inner {
  padding: 20px;
  background-color: #ccc;
}
.post {
  padding: 20px;
  background-color: #f2f2f2;
}
.mystyle {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}
.mystyle {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}
.mystyle {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}
.mystyle {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}
.callem {
  border: 1px solid #000;
  background-color: transparent;
  font-size: 13;
}
.abox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
}
.anotherbox {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px;
}
.onemorepaddedbox {
  padding-left: 20px;
  padding-right: 30px;
  width: 1150px;
}
