.page-1 {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
}
.page-2 {
  position: absolute;
  left: 100%;
  width: 50%;
  height: 100%;
  display: none;
}
.full-area {
  width: 200%;
  height: 100%;
}
.start-button {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 160px;
  width: 230px;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-box-shadow: #123456 0 0 10px;
  box-shadow: #123456 0 0 10px;
}
.start-button:disabled {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-box-shadow: #123456 0 0 10px;
  box-shadow: #123456 0 0 10px;
}
.wrapper {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  width: 1160px;
  padding: 20px;
  margin: 0 auto;
}
.avatar {
  float: left;
  margin-top: 3px;
  margin-left: -58px;
  width: 48px;
  height: 48px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.tweet {
  border: 1px solid #e1e8ed;
  position: relative;
}
min-height 51px,
padding 9px 12px,
.content,
margin-left 58px,
display block {
  width: 590px;
}
h1 {
  font-family: 'Open Sans';
  font-weight: 800;
  line-height: 2.618em;
  font-size: 2em;
  letter-spacing: 1.2em;
}
h2 {
  font-family: 'Open Sans';
  font-weight: 800;
  line-height: 2.618em;
  font-size: 1.5em;
}
.inner {
  padding: 20px;
  background-color: #ccc;
}
.post {
  padding: 20px;
  background-color: #f2f2f2;
}
.mystyle {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}
.mystyle {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}
.mystyle {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}
.mystyle {
  color: #000;
  background-color: #fff;
  border: 1px solid #ccc;
}
.callem {
  border: 1px solid #000;
  background-color: transparent;
  font-size: 13;
}
.abox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 10px;
}
.anotherbox {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 20px;
}
.onemorepaddedbox {
  padding-left: 20px;
  padding-right: 30px;
  width: 1150px;
}
