@import "nib"
// First example, stylus syntax
*
	font-family 'Proxima Nova Lt'


.full-area {
	width 100vw
	height 100vh
}

.page-1 {
	position absolute
	left 0
	width 100vw
	height 100%
	background #1a1a1a
}

.img-landing
	padding 50px

.page-2 {
	position absolute
	display flex
	align-items center
	flex-direction column
	justify-content center
	left 0
	width 100%
	height 100%
	z-index 1
	transition all 0.5s ease-in
	opacity 0
	transition opacity 0.5s fade-in
	animation fadein 0.5s;
}

.page-3 {
	position absolute
	background #f2f2f2
	left 0
	width 100vw
}

.center-vertically {
	height 100vh
	width 100vw
	display flex
	align-items center
}

.input-form {
	width 500px
    display inline-block
}

.form-container
	text-align center

.form-control
	-webkit-box-shadow inset 0 0px 0px rgba(0,0,0,.075)
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075)
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s

.img-3-top
	margin-top 110px
.navbar
	position fixed
	top 0
	left 0
	right 0
	width 100vw
	height 100px
	display flex
	justify-content center
	flex-direction row
	flex-wrap wrap
	align-items center
	.nav-left
		flex 1
		display flex
		flex-direction column
		align-items flex-start
		margin-left 40px
		&:hover
			transition 0.5s all
			opacity 0.5
			cursor pointer
	.nav-right
		flex 1
		padding-right 40px
		display flex
		flex-direction column
		align-items flex-end
		&:hover
			transition 0.5s all
			opacity 0.5
			cursor pointer

.previous
	display flex
	justify-content center
	align-items center
	flex-wrap wrap
	flex-direction column
	background #1a1a1a
	min-height 400px
	padding 100px 0
	margin 100px 0
	.title
		margin-bottom 100px
.best-performing
	display flex
	justify-content center
	flex-wrap wrap
	flex-direction column
	.performing-title
		margin-bottom 100px
	.performing-items
		padding-bottom 100px

.full-area {
	overflow auto
	width 200vw
	height 100vh
	margin-right auto
	margin-left auto
}

.start-button {
	position absolute
	left 50%
	top 50%
	transform translate(-65px,220px)
	height 50px
	width 130px
	border-radius 2px
	border none
	color white
 	transition all .35s ease-in
 	background #55acee
 	font-size 18px
 	font-family 'proxima nova Lt'
}

.start-button:disabled {
	position absolute
	left 0
	top 0
	height 100%
	width 100%
	color white
	font-size 18px
	border-radius 0
	border none
 	transition all .35s ease-in
 	background #f2f2f2
 	transform translate(0px,0px)
}
#input-2
	background none
	border none
	text-align center
	color black
	font-family "Proxima Nova Lt"
	font-style lightitalic
	margin 0 20vw
	width 100px
	&:focus
		outline 0

.form-2
	border 1px solid red
	background black

#tweetlength
	font-size 37px
	font-family "Proxima Nova Lt"
	font-style lightitalic
